In [1]:
import pandas as pd

In [2]:
exepectancy = pd.read_csv('https://raw.githubusercontent.com/Aroa16/Prueba/main/example_Solutions%20-%20example_events_file%20-%20example_events_file.csv')

In [3]:
exepectancy.head()

,email,email.1,email.2,phone,madid,Name,zip code,country,gender,action,Checkout_time,Price
0,elizabetho@fb.com,olsene@fb.com,eolsen@fb.com,1-(650)-561-5622,aece52e7-03ee-455a-b3c4-e57283966239,Elizabeth Olsen,94046,US,Female,Checkout,2022-02-02,"$15,00"
1,andrewj@fb.com,jamisona@fb.com,ajamison@fb.com,1-(212) 736-3100,BEBE52E7-03EE-455A-B3C4-E57283966239,Andrew Jamison,10118,US,Male,Checkout,2022-02-01,"15,00 €"
2,margaretj@fb.com,johnsonm@fb.com,mjohnson@fb.com,1-(323) 857-6000,adbe52e7-03ee-455a-b3c4-e57283966239,Margaret Johnson,90001-4656,US,Female,Checkout,2022-02-02,"$15,00"
3,johnd@fb.com,doej@fb.com,jdoe@fb.com,1-(312) 443-3600,AEBE52E7-03EE-455A-B3C4-E57283966239,John Doe,60603,US,Male,Checkout,2022-01-19,"$15,00"
4,marks@fb.com,smithmark@fb.com,msmith@fb.com,+44 303 123 7300,AEBD52E7-03EE-455A-B3C4-E57283966239,Mark Smith,SW1A 1AA,GB,Male,Checkout,2022-01-10,"10,00 €"

In [4]:
exepectancy.loc[:, ['email', 'phone', 'Name','country','gender','Price']]

,email,phone,Name,country,gender,Price
0,elizabetho@fb.com,1-(650)-561-5622,Elizabeth Olsen,US,Female,"$15,00"
1,andrewj@fb.com,1-(212) 736-3100,Andrew Jamison,US,Male,"15,00 €"
2,margaretj@fb.com,1-(323) 857-6000,Margaret Johnson,US,Female,"$15,00"
3,johnd@fb.com,1-(312) 443-3600,John Doe,US,Male,"$15,00"
4,marks@fb.com,+44 303 123 7300,Mark Smith,GB,Male,"10,00 €"
5,jamesm@fb.com,+44 20 7219 4272,James McLaughlin,GB,Male,"10,00 €"
6,pauloa@fb.com,+55 21 3938-6900,Paulo Alessandro,BR,Male,"10,00 €"
7,mariel@fb.com,+33 892 70 12 39,Marie Laurent,FR,Female,"10,00 €"
8,thomasd@fb.com,+33 892 70 12 39,Thomas Dubois,FR,Male,"10,00 €"
9,elizabetho@fb.com,1-(650)-561-5622,Elizabeth Olsen,US,Female,"$15,00"

In [5]:
lista=exepectancy.loc[:, ['email', 'phone', 'Name','country','gender','Price']]

In [6]:
lista.head()

,email,phone,Name,country,gender,Price
0,elizabetho@fb.com,1-(650)-561-5622,Elizabeth Olsen,US,Female,"$15,00"
1,andrewj@fb.com,1-(212) 736-3100,Andrew Jamison,US,Male,"15,00 €"
2,margaretj@fb.com,1-(323) 857-6000,Margaret Johnson,US,Female,"$15,00"
3,johnd@fb.com,1-(312) 443-3600,John Doe,US,Male,"$15,00"
4,marks@fb.com,+44 303 123 7300,Mark Smith,GB,Male,"10,00 €"

In [11]:
lista.to_csv("listadeprueba.csv",index=False)